@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

body {
    font-family: "Barlow", sans-serif;
}

/* NAVBAR */

nav {
  background: #e5e4e2;
}

/* HERO SWIPER */

#hero {
  background-image: url('./assets/images/splat3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* SECTIONS */

#recent-activity {
    padding: 1% 3%;
}

/* SECTION TITLES */

.intro-title {
    font-size: 32px;
    font-weight: 900;
}

/* HERO SLIDER */

.bdt-timeline-container {
    display: flow-root;
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

.upk-salf-slider-wrapper {
    display: flex;
    flex-direction: row;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    height: 400px;
    padding: 30px;
    position: relative;
}

.upk-salf-slider-wrapper .upk-salf-item {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.upk-salf-title,
.upk-salf-desc,
.upk-salf-button {
    opacity: 1;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-image-wrap {
    height: 100%;
    width: 100%;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-xanc-img {
    display: block;
    width: 100%;
    height: 800px;
    -o-object-fit: cover;
    object-fit: cover;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    top: unset;
    max-width: 460px;
    overflow: hidden;
    background: #ffffff8a;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    transition: -webkit-backdrop-filter 0.9s;
    transition: backdrop-filter 0.9s;
    transition: backdrop-filter 0.9s, -webkit-backdrop-filter 0.9s;
    padding: 20px;
    padding-left: 20px;
}

.upk-salf-title {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.2;
    color: #2B2D42;
    text-transform: capitalize;
    margin-bottom: 20px;
    opacity: 1;
}

.upk-salf-desc {
    color: #656565;
    font-size: 14px;
    line-height: 1.6;
    text-transform: capitalize;
    margin-bottom: 20px;
    opacity: 1;
}

.upk-salf-button {
    opacity: 1;
}

.upk-salf-button .link {
    color: #2b2d42;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    transition: all 0.3s ease;
}

.upk-salf-button .link:hover {
    color: #ec2425;
}

.upk-salf-button .link--arrowed {
    display: inline-block;
}

.upk-salf-button .link--arrowed .arrow-icon {
    position: relative;
    top: 0;
    transition: transform 0.3s ease;
    vertical-align: middle;
}

.upk-salf-button .link--arrowed .arrow-icon--circle {
    transition: stroke-dashoffset 0.3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}

.upk-salf-button .link--arrowed g {
    stroke: currentColor;
    color: #2b2d42;
}

.upk-salf-button .link--arrowed:hover .arrow-icon {
    transform: translate3d(5px, 0, 0);
}

.upk-salf-button .link--arrowed:hover .arrow-icon--circle {
    stroke-dashoffset: 0;
}

.upk-salf-button .link--arrowed:hover g {
    color: #ec2425;
}

.upk-salf-slider-wrapper .upk-page-scroll {
    position: absolute;
    bottom: 8%;
    right: 5%;
    transform: rotate(90deg);
    z-index: 1;
    display: none;
}

.upk-salf-slider-wrapper .upk-page-scroll .arrow-up {
    height: 70px;
    width: 70px;
    display: block;
    background: #ffffffc9;
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    position: relative;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    transform: rotate(-90deg);
    overflow: hidden;
}

.upk-salf-slider-wrapper .upk-page-scroll .arrow-slide {
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: #ec2425;
    position: absolute;
    display: block;
    z-index: 0;
}

.upk-salf-slider-wrapper .upk-page-scroll .long-arrow-left {
    display: block;
    margin: 30px auto;
    width: 16px;
    height: 16px;
    border-top: 2px solid #2b2d42;
    border-left: 2px solid #2b2d42;
}

.upk-salf-slider-wrapper .upk-page-scroll .long-arrow-left {
    transform: rotate(-135deg);
}

.upk-salf-slider-wrapper .upk-page-scroll .long-arrow-left::after {
    content: "";
    display: block;
    width: 2px;
    height: 25px;
    background-color: #2b2d42;
    transform: rotate(-45deg) translate(8px, 3px);
    left: 0;
    top: 0;
}

.upk-salf-slider-wrapper .upk-page-scroll .arrow-up:hover {
    transition: all 0.1s;
}

.upk-salf-slider-wrapper .upk-page-scroll .arrow-up:hover .left-arm:after {
    transform: rotate(-10deg);
}

.upk-salf-slider-wrapper .upk-page-scroll .arrow-up:hover .right-arm:after {
    transform: rotate(10deg);
}

.upk-salf-slider-wrapper .upk-page-scroll .arrow-up:hover .arrow-slide {
    transition: all 0.5s ease-in-out;
    transform: translateY(200%);
}

.upk-salf-slider-wrapper .upk-salf-nav-pag-wrap {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
}

.upk-salf-slider-wrapper .upk-salf-navigation {
    margin-top: 40px;
    margin-right: 2px;
}

.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed {
    display: inline-block;
}

.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed .arrow-icon {
    position: relative;
    top: 0;
    transition: transform 0.3s ease;
    vertical-align: middle;
}

.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed .arrow-icon--circle {
    transition: stroke-dashoffset 0.3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}

.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed g {
    stroke: currentColor;
    color: #2b2d42;
}

.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed:hover .arrow-icon {
    transform: translate3d(5px, 0, 0);
}

.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed:hover .arrow-icon--circle {
    stroke-dashoffset: 0;
}

.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed:hover g {
    color: #ec2425;
}

.upk-salf-slider-wrapper .upk-salf-navigation .upk-button-next {
    margin-top: 15px;
    transform: rotate(90deg);
}

.upk-salf-slider-wrapper .upk-salf-navigation .upk-button-prev {
    transform: rotate(-90deg);
}

.upk-salf-slider-wrapper .upk-salf-pagi-wrap {
    position: absolute;
    top: 43%;
    right: 0;
    margin-right: 22px;
}

@-webkit-keyframes progress {
    0% {
        stroke-dashoffset: 75;
        opacity: 1;
    }

    95% {
        stroke-dashoffset: 0;
        opacity: 1;
    }

    100% {
        opacity: 0;
        stroke-dashoffset: 0;
    }
}

@keyframes progress {
    0% {
        stroke-dashoffset: 75;
        opacity: 1;
    }

    95% {
        stroke-dashoffset: 0;
        opacity: 1;
    }

    100% {
        opacity: 0;
        stroke-dashoffset: 0;
    }
}

.upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet {
    background-color: transparent;
    opacity: 0.8;
}

.upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet--svg-animation {
    width: 20px;
    height: 20px;
    margin: 6px -7px;
    display: inline-block;
}

.upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet--svg-animation svg {
    transform: rotate(-90deg);
}

.upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet--svg-animation .svg__circle-inner {
    stroke: #2b2d42;
    fill: transparent;
    transition: all 0.3s ease;
}

.upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet-active .svg__circle {
    stroke: #ec2425;
    stroke-dasharray: 75;
    stroke-dashoffset: 0;
    -webkit-animation: progress 4s ease-in-out 1 forwards;
    animation: progress 4s ease-in-out 1 forwards;
}

.upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet-active .svg__circle-inner {
    fill: #2b2d42;
    stroke: #ec2425;
}

/* RECENT ACTIVITY */

.review-card, .share-card {
    border: .2px solid rgba(211, 211, 211, .9);
}


.review-card, .share-card, .place_img, .place_img img {
    border-radius: 25px;
}

.review-card  .share-card{
    overflow: hidden
}

.container-content .icon {
    width: 50px;
    height: 50px;
    background-color: rgba(241, 241, 241, 0.2);
    border-radius: 15px;
    display: flex;
    font-size: 39px
}

.container-content .icon, .place_img, .exhibit {
    align-items: center;
    justify-content: center;
}

.star-rating {
    display: inline-flex;
}

.fa-star {
    color: red;
}

.recent-post, .rating-count, .description {
    font-size: 1.2em;
}

.place_img {
    width: 100%;
    display: inline-flex;
}

.place_img img {
    width: 100%;
    height: auto;
}

.user__shared__img {
    width: 100%;
    height: auto;
}

.scrollable-div {
    height: 250px;
    overflow-y: scroll;
}

.hide-extra {
    display: none;
}

.read-more {
    text-decoration: none !important;
}

/* CATEGORIES */

#categories .cards {
    --cards-text-color: white;
    --cards-closed-size: 7rem;
    --animation-speed-normal: .5s;
    --animation-speed-fast: .25s;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100vw;
    padding: 1rem;
    justify-content: center;
}

#categories .card {
    width: 100%;
    height: var(--cards-closed-size);
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    transition: all var(--animation-speed-normal) ease-in-out;
    cursor: pointer;
}

#categories .card[active] {
    height: 96vw;
}

#categories .card__image {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    filter: brightness(.675) saturate(75%);
    transition: filter var(--animation-speed-fast) ease-in-out;
}

#categories .card:hover .card__image {
    filter: brightness(.875) saturate(120%);
}

#categories .card__infos, .name__of__card {
    position: absolute;
    left: 0;
    z-index: 2;
    bottom: 0;
    height: var(--cards-closed-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#categories .card__name {
    color: var(--cards-text-color);
    transform: translateY(.65rem);
    transition: all var(--animation-speed-normal) ease-in-out;
    font-size: 1.3rem;
}

#categories .card[active] .card__name {
    display: none;
}

.card__author__span {
    display: none;
    --r: 30px; /* control the cutout of the ribbon */
    --s: 20px; /* size of the folded part */
    --c: #36454F;
  
    line-height: 1.6; /* control the height */
    padding-inline: 1.2lh calc(var(--r) + .2lh);
    text-align: center;
    background: var(--c);
    clip-path: polygon(
        calc(var(--r)) 50%, /* Left side inward point */
        0 0, /* Top-left corner */
        100% 0, /* Top-right corner */
        calc(100% - var(--r)) 50%, /* Right side inward point */
        100% 100%, /* Bottom-right corner */
        0 100% /* Bottom-left corner */
      );
}

#categories .card[active] .card__author__span {
    display: block;
}

#categories .card__author {
    margin: 5% 0;
    color: var(--cards-text-color);
    text-decoration: none;
    transform: translateY(.65rem);
    opacity: 0;
    transition:
        opacity var(--animation-speed-fast) ease-in-out,
        transform var(--animation-speed-slow) ease-in-out;
}

#categories .card[active] .card__author {
    transform: translateY(0);
    opacity: 1;
    padding: 0 5%;
}

#categories .card[active] .card__author:hover {
    opacity: .75;
}


